// Define variables for your color scheme

// For example:
$beige: #fef5ec;
$blue: #003596;
$yellow: #ffd900;
$red: #fd0100;
$black: #000000;
$gray: #0E0000;
$light-gray: #F4F4F4;
$green: green;
$orange: orange;
